<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加菜单</title>
    <link href="../../../layui/css/layui.css" rel="stylesheet">
    <link href="../../../layui/css/modules/layer/default/layer.css" rel="stylesheet">
    <link href="../../../css/main.css" rel="stylesheet">
    <link href="../../../css/common.css" rel="stylesheet">
    <link href="../../../css/main.css" rel="stylesheet">
</head>
    <body>
        <div class="container-header">
            菜单列表
        </div>
        <div class="container display-flex" id="app">
            <div id="menuTree"></div>
            <div class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">是否根节点</label>
                    <div class="layui-input-block">
                        <input type="radio" v-model="isRoot" name="sex" value="true" title="是">
                        <input type="radio" v-model="isRoot" name="sex" value="false" title="否" checked>
                    </div>
                </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单名称</label>
                        <div class="layui-input-block">
                            <input type="text" v-model="nodeName" name="title" required  lay-verify="required"   class="layui-input">
                        </div>
                    </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上级菜单</label>
                    <div class="layui-input-block">
                        <span class="lable-line">{{parentNode}}</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">根节点菜单</label>
                    <div class="layui-input-block">
                        <span class="lable-line">{{rootNode}}</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单路径</label>
                    <div class="layui-input-block">
                        <input type="text"  v-model="url" name="title" required  lay-verify="required"   class="layui-input">
                    </div>
                </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" @click="save">保存</button>
                        </div>
                    </div>
                </div>
        </div>
        <script src="/js/require.js-2.3.6/require.min.js" type="text/javascript"></script>
        <script src="/layui/layui.js" type="text/javascript"></script>
        <script src="../../../js/common/require-config.js" type="text/javascript"></script>
        <script>
             require(['jquery','vue','global'],function ($,Vue) {
                new Vue({
                    el:'#app',
                    data:{
                        isRoot:'',
                        nodeName:'',
                        parentNode:'',
                        rootNode:'',
                        url:''
                    },
                    mounted:function(){
                        layui.use(['tree','form', 'util'], function(){
                            var tree = layui.tree
                                ,layer = layui.layer
                                ,util = layui.util

                            //模拟数据1
                            var data1 = [{
                                title: '系统设置'
                                ,id: 1
                                ,children: [{
                                    title: '菜单管理'
                                    ,id: 1000
                                    ,children: [{
                                        title: '添加'
                                        ,id: 1000
                                    },{
                                        title: '添加'
                                        ,id: 1000
                                    }
                                    ]
                                }]
                            }];
                            var data2=[{}];



                            //开启节点操作图标
                            tree.render({
                                elem: '#menuTree'
                                ,data: data2
                                ,edit: ['add', 'update', 'del'] //操作节点的图标
                                ,click: function(obj){
                                    layer.msg(JSON.stringify(obj.data));
                                }
                                ,operate:function(obj) {
                                    if (obj.type === 'add') { //增加节点
                                        alert(1);
                                    } else if (obj.type === 'update') { //修改节点
                                        console.log(elem.find('.layui-tree-txt').html()); //得到修改后的内容
                                    } else if (obj === 'del') { //删
                                    }
                                }
                            });
                        });
                    },
                 methods:{
                        save:function () {
                            layer.msg('只想弱弱提示');

                        }
                 }
                })
            })
        </script>
    </body>
</html>